body {
  height: 100vh;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}